.formField {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: fit-content;
  padding: 40px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: orangered;
  border-radius: 30px;
  box-shadow: 10px 15px 15px 5px rgba(0, 0, 0, 0.5);
}
.loginButton {
  font-size: 20px;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 500;
  border: 2px solid transparent;
  box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
  transition: border 0.2s linear, color 0.2s linear, background 0.2s linear,
    transform 0.1s linear, box-shadow 0.1s linear;
}
.enabled {
  cursor: pointer;
}
.enabled:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
.enabled:active {
  transform: translate(5px, 5px);
  box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.4);
}
