@font-face {
  font-family: Outfit;
  src: url("./Components/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(117, 140, 166);
}
